@{
    ViewData["Title"] = "Home Page";
}
@model HistoryTranslate


<div class="row" style="margin-top:10px">
    <form  asp-action="Index" method="post">
        <div class="form-inline" style="display:inherit;text-align: center;margin: 10px;">
        
            <span class="form-control" >@Model.Grammatic</span>
            <span class="form-control">@Model.TranslateDate</span>
        </div>
        <div>
            <div class="col-md-5 form-group">
                <textarea class="form-control resize" readonly style="resize: none;" rows="20" asp-for="FromLanguage" name="FromLanguage"></textarea>
            </div>
            <div class="col-md-offset-1 col-md-5 form-group">
                <textarea class="form-control resize" readonly style="resize: none;" rows="20" asp-for="ToLanguage" name="ToLanguage"></textarea>
            </div>
        </div>
    </form>
</div>
